@use "../variables" as *;
.k-grid {
  .k-header {
    vertical-align: middle;
    padding: 8px 12px;
  }
  td.k-state-selected,
  tr.k-state-selected > td {
    background: $base-color-1;
  }
}
td {
  &.cr-grid-code {
    .column-code {
      color: #c0b211;
    }
  }
  &.cr-grid-navigate {
    color: #4784ff;
    //cursor: pointer;
    text-overflow: initial;
    padding: 8px 12px;
    > span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &.cr-grid-button-action {
    cursor: pointer;
    padding: 8px 12px;

    > span {
      cursor: pointer;
    }
  }
}
