<ng-template #customTooltipTemplate let-anchor>
  <div [innerHTML]="anchor.nativeElement.getAttribute('custom')"></div>
</ng-template>
<div
  class="cr-popup-content-wrapper"
  [class.cr-popup-is-shown]="popupTab.tabs.length > 1"
>
  <cr-popup-tabs
    [popupTabs]="popupTab.tabs"
    [activePopup]="popupTab.activeTabIndex"
    (closePopup)="removePopupTab()"
    (changeActive)="changeActiveTab($event)"
  ></cr-popup-tabs>

  <div class="cr-details-inner-container" *ngIf="roleDetail">
    <ng-container *ngFor="let tab of popupTab.tabs; index as i;">
      <ng-container [ngSwitch]="tab.type">
        <ng-template [ngSwitchCase]="'general'">
          <ng-template [ngIf]="popupTab.tabs[popupTab.activeTabIndex].type == 'general' && popupTab.activeTabIndex == i">
            <div *ngIf="popupTab.activeTabIndex != popupTab.tabs.length - 1" class="cr-popup-blocker"></div>

            <!--Detail-->
            <ng-container>
              <cr-title-header
                [titleTranslateKey]="'ADMIN_ROLE.ROLE_DETAILS.TITLE'"
                [titleValue]="titleValue"
                [buttonSettings]="titleHeaderButtonSettings"
                (buttonClickEvent)="onTitleButtonClick($event)">
              </cr-title-header>
              <!-- Detail-->
              <div class="cr-outer-wrapper cr-alternate-shadow">
                <div class="row cr-bottom-row-border">
                  <div class="col-lg-2">
                    <cr-control-edit
                      [elementName]="'edit:Role_details.Code'"
                      [permissionSettings]="{
                      isAccessEdit: isNew
                        ? authService.endpointConfiguration.adminPanelSrv.role.create.isAccessGranted
                        : authService.endpointConfiguration.adminPanelSrv.role.update.isAccessGranted
                    }"
                      [translateKeys]="'ADMIN_ROLE.ROLE_DETAILS.HEADER.CODE'"
                      [(dataValue)]="roleDetail.code"
                      [validator]="validator"
                      [validationField]="'code'"
                    ></cr-control-edit>
                  </div>

                  <div class="col-lg-2">
                    <cr-control-edit
                      [elementName]="'edit:Role_details.Name'"
                      [permissionSettings]="{
                      isAccessEdit: isNew
                        ? authService.endpointConfiguration.adminPanelSrv.role.create.isAccessGranted
                        : authService.endpointConfiguration.adminPanelSrv.role.update.isAccessGranted
                    }"
                      [translateKeys]="'ADMIN_ROLE.ROLE_DETAILS.HEADER.NAME'"
                      [(dataValue)]="roleDetail.name"
                      (dataValueChange)="changeTitle()"
                      [validator]="validator"
                      [validationField]="'name'"
                    ></cr-control-edit>
                  </div>
                </div>
              </div>

              <!-- Permissions -->
              <div class="cr-outer-wrapper">
                <kendo-panelbar (stateChange)="panelStateChange('permissions', $event)"
                                [attr.data-element-name]="'panelbar:Role_details.Permissions'">
                  <kendo-panelbar-item title="" [expanded]="cache.panelsViewState.permissions">
                    <ng-template kendoPanelBarItemTitle>
                    <span [attr.data-translate]="'ADMIN_ROLE.ROLE_DETAILS.PANEL.PERMISSIONS'">
                      {{ 'ADMIN_ROLE.ROLE_DETAILS.PANEL.PERMISSIONS' | translate }}
                    </span>
                    </ng-template>
                    <ng-template kendoPanelBarContent>
                    </ng-template>
                  </kendo-panelbar-item>
                </kendo-panelbar>
              </div>

            </ng-container>

          </ng-template>
        </ng-template>

        <!--Popup: Role permissions manager-->
        <ng-container *ngSwitchCase="'role-detail-permissions'">
        </ng-container>

      </ng-container>
    </ng-container>
  </div>
</div>
