<ng-container *ngIf="!viewState.isNotFound">
  <cr-title-header
      (buttonClickEvent)="onTitleButtonClick($event)"
      [buttonSettings]="titleHeaderButtonSettings"
      [titleTranslateKey]="'CATEGORY.DETAILS.TITLE'"
      [titleValue]="titleValue"
  ></cr-title-header>

  <div class="cr-outer-wrapper cr-alternate-shadow" *ngIf="category">
    <div class="row">
      <div class="col-lg-6">
        <cr-control-edit
            [(dataValue)]="category.name"
            (dataValueChange)="changeTitle()"
            [translateKeys]="'CATEGORY.DETAILS.NAME'"
            [isDisabled]="category.isDeleted && !viewState.restoring"
            [validator]="validator"
            [validationField]="'name'"
        ></cr-control-edit>
      </div>
    </div>
  </div>

  <div class="cr-outer-wrapper" *ngIf="category && !isNew">
    <div class="cr-panel-header-wrapper">
      <p [attr.data-translate]="'CATEGORY.DETAILS.ATTESTATIONS_LIST.TITLE'">
        {{ 'CATEGORY.DETAILS.ATTESTATIONS_LIST.TITLE' | translate }}
      </p>
    </div>

    <cr-category-attestations-list [category]="category"></cr-category-attestations-list>
  </div>
</ng-container>

<cr-view-page-not-found *ngIf="viewState.isNotFound"></cr-view-page-not-found>
