<ng-container>
  <cr-title-header
      (buttonClickEvent)="onTitleButtonClick($event)"
      [buttonSettings]="titleHeaderButtonSettings"
      [titleTranslateKey]="'INTERNSHIP.LIST.TITLE'">
  </cr-title-header>

  <div class="cr-outer-wrapper">
    <div class="cr-panel-header-wrapper">
      <p [attr.data-translate]="'INTERNSHIP.LIST.FILTER.TITLE'">
        {{ 'INTERNSHIP.LIST.FILTER.TITLE' | translate }}
      </p>
    </div>

    <form>
      <div class="row">
        <div class="col-lg-3">
          <cr-dropdown-smart-control
              [(value)]="filter.teacherId"
              [dataCacheName]="'InternshipFilterTeacherDropdown'"
              [unselectedItemValue]="{id: null, translateKey: 'COMMON.NOT_SELECTED'}"
              [labelTranslateKey]="'INTERNSHIP.LIST.FILTER.TEACHER'"
              [dataTranslateKeyField]="'translateKey'"
              [valueField]="'id'"
              [textField]="'name'"
              [getListItemsFunction]="getTeacherDropdownList"
              [getOneItemFunction]="getTeacherDropdownItem"
          ></cr-dropdown-smart-control>
        </div>
        <div class="col-lg-3">
          <cr-control-edit
              [(dataValue)]="filter.code"
              [translateKeys]="'INTERNSHIP.LIST.FILTER.CODE'"
          ></cr-control-edit>
        </div>
        <div class="col-lg-3">
          <cr-control-edit
              [(dataValue)]="filter.title"
              [translateKeys]="'INTERNSHIP.LIST.FILTER.TITLE_FILTER'"
          ></cr-control-edit>
        </div>
        <div class="col-lg-3">
          <cr-control-edit
              [(dataValue)]="filter.place"
              [translateKeys]="'INTERNSHIP.LIST.FILTER.PLACE'"
          ></cr-control-edit>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <cr-control-datepicker
              [(dataValue)]="filter.dateFromMore"
              [translateKeys]="'INTERNSHIP.LIST.FILTER.FROM'"
          ></cr-control-datepicker>
        </div>
        <div class="col-lg-6">
          <cr-control-datepicker
              [(dataValue)]="filter.dateToLess"
              [translateKeys]="'INTERNSHIP.LIST.FILTER.TO'"
          ></cr-control-datepicker>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <cr-checkbox-control
              [(dataValue)]="filter.showDeleted"
              [translateKeys]="'INTERNSHIP.LIST.FILTER.SHOW_DELETED'"
          ></cr-checkbox-control>
        </div>
        <div class="col-lg-8 cr-search-button-column">
          <cr-button-control
              [buttonTemplateType]="'underlined-action-button'"
              [type]="'submit'"
              [textTranslateKey]="'COMMON.BUTTON.SEARCH'"
              (buttonClickEvent)="onFilter()"
          ></cr-button-control>
        </div>
      </div>
    </form>
  </div>

  <div class="cr-outer-wrapper">
    <div class="cr-panel-header-wrapper">
      <p [attr.data-translate]="'INTERNSHIP.LIST.GRID.TITLE'">
        {{ 'INTERNSHIP.LIST.GRID.TITLE' | translate }}
      </p>
    </div>
    <div class="cr-grid-wrapper-new">
      <cr-edit-grid-server-paging
          (cellClickEvent)="cellClick($event)"
          (pageChangeEvent)="changePage($event)"
          [columnSettings]="columnSettings"
          [dataCacheName]="'InternshipListGrid'"
          [dataSource]="dataSource"
          [pageable]="true"
          [resizable]="true"
          [uniqueField]="'id'"
          [sortable]="{allowUnsort: false}"
          [sortableState]="paginator.sort"
      ></cr-edit-grid-server-paging>
    </div>
  </div>
</ng-container>
