@use "../../../../styles/variables" as *;
.cr-control-multiselect {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 1px 10px 0 10px;
  list-style: none;
  border: 1px solid #E9E9E9;
  background: white;
  border-radius: 5px;

  &.ng-invalid {
    border-color: $error-color;
  }

  ::ng-deep {
    kendo-taglist {
      max-width: 100%;

      .k-reset {
        li {
          max-width: 100%;

          .ng-star-inserted {
            &:first-child {
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }
      }
    }

    .k-multiselect.k-header {
      top: -6px;
    }

    ul.k-reset > li.k-button {
      margin-left: 2px;
      margin-top: 1px;
      overflow: hidden;
      min-height: auto;
    }

    kendo-label {
      display: block;
      width: 100%;
      border: 0;
      color: $control-color-label;
      font-size: small;

      > label {
        &.k-label {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          line-height: 17px;
          max-width: calc(100% - 40px);
          padding-right: 10px;
          position: relative;
          height: 17px;
          font-size: 13px;
          margin: 0 10px;
          display: inline-block;
          padding-left: 2px;
        }

        > .k-label-optional {
          font-size: 0;
          position: absolute;
          color: $control-color-required;
          right: 0;
        }

        > .k-label-optional::before {
          position: relative;
          left: -5px;
          font-size: 13px;
          content: "*";
          color: $control-color-required;
        }
      }

      .k-multiselect {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: visible;
        position: inherit;

        .k-searchbar + .k-icon {
          top: 0;
          right: 0;
        }

        .k-multiselect-wrap {
          border: 0;
          background: none;
          box-shadow: none;
          padding: 0 35px 0 0;

          &.k-state-focused, &:focus {
            box-shadow: none;
          }
        }
      }
    }

  }
}

::ng-deep {

  .cr-custom-multiselect-list {
    margin-top: 1px;
    margin-right: -10px;
    margin-left: -10px;
    width: calc(100% + 20px);

    .cr-fake-checkbox {
      display: block;
      margin-right: 10px;
      margin-left: 10px;
      min-width: 20px;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      border: 1px solid #a6a6a6;
      color: #fff;
      box-shadow: none;

      &.checked {
        background: gold;
      }
    }

    .cr-multi-select-dropdown-item {
      display: flex;
      max-width: 800px;
      white-space: nowrap;
    }

    .k-item.k-state-selected .cr-fake-checkbox {
      background: $control-color-primary;
      position: relative;
      border: none;

      &::before {
        width: 12px;
        height: 12px;
        font-size: 12px;
        line-height: 1;
        transform: scale(1) translate(-50%, -50%);
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        content: "";
        font-family: "WebComponentsIcons", monospace;
      }
    }

    .cr-multi-select-paginator {
      border: none;
      border-top: 1px solid $border-color-primary;

      > * {
        float: left;
      }

      padding: 5px 0;

      .col-lg-6 {
        &.cr-align-right {
          text-align: right;
        }
      }

      .k-dropdown {
        width: 55px;
      }

      .cr-multi-select-paginator-button-wrap {
        margin: 5px 0;
        width: 100%;

        span {
          &.cr-button {
            cursor: pointer;
            padding: 0 10px;
          }

          display: inline-block;
        }
      }

      margin: 0 -1px;
      width: calc(100% + 2px);
      background: $base-color-1;

      .row {
        width: 100%;
        margin: 0;
      }

      .k-multiselect-wrap {
        border: 0;
        background: none;
        box-shadow: none;

        &.k-state-focused, &:focus {
          box-shadow: none;
        }
      }
    }

    .k-item.k-state-selected, .k-item.k-state-focused {
      background: #fff !important;
    }

    .k-list {
      padding: 0;

      .k-item {
        &.k-state-selected {
          &:after {
            display: none !important;
          }

          &:before {
            display: none !important;
          }
        }

        &:after {
          right: 0 !important;
        }

        &:before {
          left: 0 !important;
        }
      }
    }

    .k-list-scroller {
      max-height: 280px !important;
      overflow-x: auto;
    }
  }

}

:host-context(body.rtl-on) {
  .cr-control-multiselect {
    ::ng-deep {

      kendo-label .k-multiselect .k-searchbar + .k-icon {
        right: initial;
        left: 0;
      }

      kendo-label {
        .k-multiselect {
          .k-multiselect-wrap {
            padding: 0 0 0 35px;
          }
        }
      }
    }
  }
}
