<ng-container *ngIf="!viewState.isNotFound">
  <cr-title-header
      (buttonClickEvent)="onTitleButtonClick($event)"
      [buttonSettings]="titleHeaderButtonSettings"
      [titleTranslateKey]="'COMMISSION.DETAILS.TITLE'"
      [titleValue]="titleValue"
  ></cr-title-header>

  <div class="cr-outer-wrapper cr-alternate-shadow" *ngIf="commission">
    <div class="row">
      <div class="col-lg-6">
        <cr-control-edit
            [(dataValue)]="commission.name"
            (dataValueChange)="changeTitle()"
            [translateKeys]="'COMMISSION.DETAILS.NAME'"
            [isDisabled]="commission.isDeleted && !viewState.restoring"
            [validator]="validator"
            [validationField]="'name'"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-control-edit>
      </div>
    </div>
  </div>

  <div class="cr-outer-wrapper" *ngIf="commission && !isNew">
    <div class="cr-panel-header-wrapper">
      <p [attr.data-translate]="'COMMISSION.DETAILS.TEACHERS_LIST.TITLE'">
        {{ 'COMMISSION.DETAILS.TEACHERS_LIST.TITLE' | translate }}
      </p>
    </div>

    <cr-commission-teachers-list [commission]="commission"></cr-commission-teachers-list>
  </div>
</ng-container>

<cr-view-page-not-found *ngIf="viewState.isNotFound"></cr-view-page-not-found>
