@use "variables" as *;

.k-list-container {
  .k-list {
    padding: 0 3px;

    .k-item {
      &:hover {
        &.k-state-selected {
          color: $base-text-color-root;

          &:before {
            background: $base-color-root;
          }
        }

        &:before,
        &:after {
          background: $base-color-1;
          display: block;
        }
      }

      &.k-state-selected {
        background: $base-color-1;

        &:before,
        &:after {
          display: block;
        }
      }

      &:before {
        background: $base-color-root;
        transition: inherit;
        position: absolute;
        left: -3px;
        display: none;
        content: '';
        width: 3px;
        height: 100%;
      }

      &:after {
        background: $base-color-1;
        transition: inherit;
        position: absolute;
        right: -3px;
        display: none;
        content: '';
        width: 3px;
        height: 100%;
      }

      position: relative;
      box-shadow: none;
      border: none;
      font-family: inherit;
      font-size: 18px;
      line-height: 1;
      letter-spacing: normal;
      text-align: left;
      color: $base-text-color-root;
      padding: 15px 20px;
    }
  }

  margin-top: 5px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: none;
  outline: solid 1px $base-color-1;
  background-color: $base-color-2;
}

/* width */
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #E7E7E7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a6a6a6;
  transition: .3s all ease-in-out;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a6a6a6;
}


.cr-popup-blocker {
  position: absolute;
  width: calc(100% + 60px);
  height: calc(100% + 30px);
  z-index: 10;
  top: 0;
  bottom: 0;
  left: -30px;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
}

.cr-bg-white {
  background: $base-color-2;
}

.cr-half-inner-height {
  .cr-grid-wrapper {
    height: 100%;
    background: $base-color-2;
  }

  margin-bottom: 30px;
  height: calc(50% - 60px);

  > .row {
    height: 100%;

    .cr-grid-wrapper {
      height: 100%;
    }
  }
}

.cr-full-inner-height {
  height: calc(100% - 85px);

  > .row {
    height: 100%;

    .cr-grid-wrapper {
      height: 100%;

      &.cr-location-wrapper {
        height: calc(100vh - 200px);
      }
    }
  }
}

.cr-line-header-wrapper {
  &.cr-line-header-wrapper-black {
    color: $base-color-2;
    background: $base-background-color-root;
  }

  &.cr-line-header-no-padding {
    padding: 0;
  }

  padding: 0 25px;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: $base-text-color-root;
  overflow: hidden;
  list-style: none;
  background-color: $base-color-1;

  p {
    margin: 16px 0px;
  }
}

.row {
  .cr-margin-height-auto {
    margin: auto 0;
  }
}

.cr-collection-title {
  font-family: inherit;
  margin: 0 0 10px;
}

.cr-collection-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  li {
    border: 1px solid #E9E9E9;
    display: flex;
    margin: 0 5px 10px;
    padding: 5px 10px;
    background: $base-color-1;
    font-family: inherit;

  }
}

.cr-item-odd-even-column {
  padding: 25px 15px;

  &.cr-bottom-divider {
    border-bottom: solid 1px $base-color-1;
  }
}

.cr-align-right {
  text-align: right;
}

.cr-align-right-flex {
  justify-content: flex-end;
}

.cr-dropdown-paginator {
  padding: 5px 0;

  .col-lg-6 {
    &.cr-align-right {
      text-align: right;
    }
  }

  .k-dropdown {
    width: 55px;
  }

  .cr-dropdown-paginator-button-wrap {
    margin: 5px 0;
    width: 100%;

    span {
      &.cr-button {
        cursor: pointer;
        padding: 0 10px;
      }

      display: inline-block;
    }
  }

  margin: 0 -1px;
  width: calc(100% + 2px);
  background: $base-color-1;
  border: none;

  .row {
    width: 100%;
    margin: 0;
  }
}


.cr-catalog-wrapper {
  .cr-grid-inner-wrapper {
    background: $base-color-2;
  }
}

.row {
  .k-radio:checked {
    border-color: $control-color-primary;
    color: $control-color-primary;
    background-color: transparent;
  }
}

.k-checkbox:checked, .k-checkbox:checked:focus {
  border-color: $control-color-primary;
  background-color: $control-color-primary;
}

.cr-no-margin {
  margin: 0 !important;
}

.cr-manage-groups-grid {
  tr {
    height: 47px;
  }
}

.cr-search-button-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cr-component {
  .k-grid-toolbar {
    background: $base-color-2;
    padding: 0;
  }

  .k-grid-edit-row td > .k-textbox {
    border-radius: 6px;
    border: solid 1px $base-color-1;
    box-shadow: none !important;

    &::placeholder {
      font-style: italic;
    }
  }

  .action-group {
    text-align: right;
    padding-right: 25px !important;
  }
}

//Arrow down
.k-i-arrow-n::before {
  content: '\e013';
}

//Arrow up
.k-i-arrow-s::before {
  content: '\e015';
}

//Arrow left
.k-i-arrow-w::before {
  content: "\e016";
}

//Arrow left double
.k-i-seek-w::before {
  content: "\e016";
  left: 2px;
  top: 1px;
  position: absolute;
}

.k-i-seek-w::after {
  content: "\e016";
  right: 2px;
  top: 1px;
  position: absolute;
}

//Arrow right
.k-i-arrow-e::before {
  content: "\e014";
}

//Arrow right double
.k-i-seek-e::before {
  content: "\e014";
  right: 2px;
  top: 1px;
  position: absolute;
}

.k-i-seek-e::after {
  content: "\e014";
  left: 2px;
  top: 1px;
  position: absolute;
}

//CR Partner header copmponent styles
.cr-partner-header {
  padding: 6px 12px 20px;
  border-width: 1px;
  box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.5);

  .label {
    font-size: 12px;
  }

  .k-dropdown, .k-dropdowntree {
    width: 100%;
    padding-top: 1.4285714286em;
  }

  .k-textbox-container, .k-floating-label-container {
    width: 100%;
  }

  .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker {
    width: 100%;
    padding-top: 1.4285714286em;
  }

  .switch-label {
    display: block;
    font-size: 12px;
  }

  .k-switch {
    margin-top: 1.4285714286em;
  }
}

.cr-special-price-header-wrapper {
  .row {
    padding: 0 15px;
    margin-right: -30px;
    margin-left: -30px;
  }
}

.k-pager-input {
  .k-numerictextbox {
    width: 100px;
  }
}

.k-panelbar > .k-item > .k-link .k-icon {
  color: inherit;
}

.cr-tooltip {
  .k-tooltip {
    background-color: $base-color-2 !important;
    margin: 0;
    color: $base-color-2;
    border-radius: 6px !important;
    box-shadow: 0 6px 12px 0 #e1e1e1 !important;
    border: solid 0.5px rgba(195, 195, 195, .5) !important;

    .k-tooltip-content {
      padding: 10px 50px;
      background-color: $base-color-2;
      font-family: inherit;
      font-size: 12px;
      font-weight: normal;
      font-style: italic;
      line-height: 1.2;
      letter-spacing: 0.33px;
      text-align: left;
      color: $error-color;
    }

    .k-callout {
      -webkit-filter: drop-shadow(1px 1px 1px #c3c3c3);
      filter: drop-shadow(1px 1px 1px #c3c3c3);
      color: $base-color-2;
    }
  }
}

//Preloader Styles
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $base-color-root;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $base-color-root transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cr-preloader-wrapper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: rgba(0, 0, 0, 0.3);
  transition: all .3s ease-in-out;
}

.cr-preloader-inner-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.row {
  &.cr-row-no-bottom-padding {
    padding: 25px 10px 0 10px;

    &.promotion-details-header {
      padding: 25px 0 0 0;
    }

    .col-promotion-details-header-checkbox {
      display: flex;
      align-items: center;
    }
  }

  .cr-row-no-side-padding {
    padding: 25px 0;
    min-height: 99px;

    &:first-child {
      min-height: 74px;
      padding: 0 0 25px 0;
    }
  }
}

.k-state-disabled [disabled], .k-state-disabled .k-state-disabled, .k-widget[disabled] [disabled], .k-widget[disabled] .k-state-disabled {
  background: $control-color-disabled;
}

//Dialog modal window styles
.k-dialog-wrapper {
  .k-dialog-buttongroup {
    gap: 0;
    padding: 0;
  }

  .k-dialog {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
    max-width: 800px;
    margin: 0 20px;
    width: calc(100% - 40px);
    border-radius: 6px;
    overflow: hidden;
  }

  .k-dialog-titlebar {
    height: 50px;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    padding: 10px 25px;
    box-shadow: none;
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: left;
    background: $control-color-text-primary;
    color: $base-color-2;
  }

  .k-button {
    display: flex;
    padding: 12px 8px;
    flex: 1;
    flex-grow: 1;
    border-radius: 0;
    border: none;
    font-size: 19px;
    transition: all .3s ease-in-out;
  }

  .k-dialog-button-layout-stretched .k-primary:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active),
  .k-actions-stretched .k-primary:not(:hover):not(.k-state-hover):not(:active):not(.k-state-active) {
    color: $control-color-text-primary;
    background-color: $base-color-2;
    background-image: none;
    box-shadow: none;
  }

  .k-button.k-primary:hover, .k-button.k-primary.k-state-hover,
  .k-button.k-primary:active, .k-button.k-primary.k-state-active {
    border-color: transparent;
    color: $btn-secondary;
    background-color: $btn-text-secondary;
    background-image: none;
    box-shadow: none;
  }

  .k-window-content {
    padding: 20px 10px 0px;
    width: 100%;

    .cr-bookmark-item-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      //.material-icons {
      //  cursor: pointer;
      //}

      svg {
        fill: #B2B2B5;
      }
    }

    .task-bar-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    .task-bar-item {
      cursor: pointer;
      border-bottom: 2px solid transparent;
      display: flex;
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
      margin: 0 10px 20px;
      padding: 10px 10px 10px 10px;
      font-size: 14px;
      color: $base-text-color-root;
      background: $base-color-2;
      border-radius: 0 0 6px 6px;
      overflow: hidden;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);

      &.active {
        border-bottom: 2px solid $border-color-primary;
      }
    }
  }
}

kendo-button-list {
  .k-list .k-item {
    padding: 0 !important;
    font-size: 0 !important;
  }

  .k-list {
    padding: 0 !important;

    li {
      border-left: none !important;

      &:hover {
        border-left: none !important;
      }

      &.k-state-focused {
        border-left: none !important;
        background: none !important;
      }
    }
  }

  .cr-lang-wrap {
    transition: .3s all ease-in-out;
    width: 100%;
    font-size: 18px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    border-left: 2px solid transparent;

    &:hover {
      border-left: 2px solid #ededed;
      background: #ededed;
    }

    &.cr-active-language {
      border-left: 2px solid $border-color-primary !important;
      background: #ededed;
    }
  }

  .svg-icon-language {
    margin-right: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;

    svg {
      width: 28px;
      height: 28px;
    }

    overflow: hidden;
  }
}

.wrapper {
  display: flex;

  .aside {
    flex: 1 0 auto;

    .row {
      margin-bottom: 15px;
    }
  }
}

.k-animation-container {
  transition: none !important;
  background: transparent;
  box-shadow: none;

  .k-menu-popup {
    border: none;
    background: $main-menu-background-color;
    overflow: hidden;
    box-shadow: none;
    border-radius: 0 5px 5px 5px;
  }

  .k-menu-group {
    li {
      background: $main-menu-background-color;
    }

    overflow: hidden;
    border-radius: 0 5px 5px 0;
    padding: 0;
    background: $main-menu-background-color;

    .k-link {
      transition: .3s all ease-in-out;
      padding: 0;
      background: $main-menu-background-color;

      .svg-icon-style {
        fill: $main-menu-text-color;
        min-width: 25px;
        height: 25px;
        transition: .3s all ease-in-out;
        display: flex;

        svg {
          display: flex;
          height: 25px;
          min-width: 25px;
        }
      }

      &:hover {
        background: $main-menu-hover-color;

        .svg-icon-style {
          fill: $base-color-root;
        }

        > span {
          background: $main-menu-hover-color;
          color: $main-menu-text-hover;
        }
      }

      &.sub-main-menu {
        border-left: 2px solid #1c1c1c;

        > span {
          padding: 5px 20px 5px 8px;
        }

        .svg-icon-style {
          margin-left: 10px;
        }
      }

      &.sub-menu {
        .svg-icon-style {
          margin-left: 10px;
        }
      }

      > span {
        &.cr-small-nav-menu-title {
          background: $main-menu-hover-color;
          color: $main-menu-text-hover;
        }

        color: $main-menu-text-color;
        font-size: 16px;
        font-weight: 400;
        transition: .3s all ease-in-out;
        background: $main-menu-background-color;
        min-height: 50px;
        min-width: 200px;
        width: 100%;
        padding: 5px 20px 5px 10px;
        display: flex;
        align-items: inherit;

        &.k-menu-expand-arrow {
          min-height: 16px;
          min-width: 16px;
          width: 16px;
          border: none !important;
          background: transparent;
          font-family: "WebComponentsIcons";
          padding: 0;

          &:before {
            transform: rotate(-90deg);
            content: "î€•";
          }
        }
      }
    }
  }
}

.k-panelbar > .k-item > .k-link,
.k-panelbar > .k-panelbar-header > .k-link {
  text-transform: initial;
}

cr-grid-paginator{
  width: 100%;
}

