<div class="global-error-wrapper">
  <div class="inner-global-error-wrapper">
    <p [attr.data-translate]="'COMMON.ERROR_PAGE.ERROR_HEADER'">
      {{ 'COMMON.ERROR_PAGE.ERROR_HEADER' | translate }}
    </p>
    <h2 [attr.data-translate]="'COMMON.ERROR_PAGE.FORBIDDEN.TITLE'">
      {{ 'COMMON.ERROR_PAGE.FORBIDDEN.TITLE' | translate }}
    </h2>
    <p [attr.data-translate]="'COMMON.ERROR_PAGE.FORBIDDEN.DESCRIPTION'">
      {{ 'COMMON.ERROR_PAGE.FORBIDDEN.DESCRIPTION' | translate: {url} }}
    </p>
  </div>
</div>
