@use "../../../../../styles/variables" as *;
:host {
  ::ng-deep {
    .global-error-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      .inner-global-error-wrapper {
        min-width: 325px;
        display: flex;
        flex-direction: column;
        p {
          font-size: 22px;
          line-height: 1.23;
          text-align: center;
          color: $base-text-color-root;
          margin: 10px 0;
        }
        h2 {
          border-bottom: solid 1px $warning-color;
          border-top: solid 1px $warning-color;
          width: 100%;
          font-size: 44px;
          font-weight: bold;
          font-stretch: normal;
          margin: 0;
          font-style: normal;
          line-height: 1.18;
          letter-spacing: normal;
          text-align: center;
          color: $base-text-color-root;
          padding: 3px 0;
        }
      }
    }
  }
}
