@use "../../../../styles/variables" as *;
::ng-deep {
  .cr-edit-password-control.ng-disabled {
    background: $control-color-disabled;
  }
  .cr-edit-password-control {
    margin: 0;
    height: 48px;
    padding: 2px 10px 2px;
    list-style: none;
    border: 1px solid #E9E9E9;
    background: white;
    border-radius: 5px;
    position: relative;
    overflow: hidden;

    &.ng-invalid {
      border-color: $error-color;
    }

    kendo-label {
      display: block;
      width: 100%;
      border: 0;
      color: $control-color-label;
      font-size: small;

      &.prefix {
        position: relative;
      }

      .prefix-text {
        display: none;

        &.active {
          display: inline;
          position: absolute;
          left: 0;
          line-height: 1;
          top: 23px;
          font-size: 18px;
        }
      }

      > label {
        &.k-label {
          line-height: 17px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          max-width: calc(100% - 0px);
          padding-right: 10px;
          position: relative;
          height: 17px;
          font-size: 13px;
          display: inline-block;
          padding-left: 2px;
        }

        > .k-label-optional {
          font-size: 0;
          position: absolute;
          color: $control-color-required;
          right: 0;
        }

        > .k-label-optional::before {
          position: relative;
          left: -5px;
          font-size: 14px;
          content: "*";
          color: $control-color-required;
        }
      }

      input {
        height: 20px;
        margin: 0;
        display: block;
        font-family: inherit;
        width: 100%;
        color: $control-color-text-primary;
        border: 0;
        font-size: 18px;

        &:focus {
          outline: none;
        }

        &.ng-invalid {
          background: $error-color;
        }

        &.prefix {
          padding-left: 40px;
        }
      }
    }
  }
}

.cr-edit-password-control {

  input::placeholder {
    color: $control-color-text-primary;
  }

  .cr-password-input-container {
    input {
      width: 85%;
    }
  }

  .cr-password-input-container-full {
    input {
      width: 100%
    }
  }
}
.cr-password-input-container {
  position: relative;

  .eye-icon {
    position: absolute;
    right: 0;
    top: -13px;
    width: 30px;
    height: 30px;

    &__disabled {
      pointer-events: none;
    }
  }
}

:host {
  //Global Rtl styles
  body.rtl-on & {
    ::ng-deep {
      .cr-edit-password-control kendo-label>label>.k-label-optional {
        right: initial;
        left: 0;
      }
      .cr-edit-password-control kendo-label > label.k-label {
        padding-right: 2px;
        padding-left: 10px;
      }
      .cr-password-input-container .eye-icon {
        left: 0;
        right: initial;
      }
    }
  }
}
