<div
  *ngIf="_parsedPermissionSettings.isAccessRead"
  kendoTooltip
  tooltipClass="cr-tooltip"
  position="top"
  class="cr-edit-password-control"
  [ngClass]="customClass"
  [class.cr-no-permission]="!_parsedPermissionSettings.isAccessEdit"
  [class.ng-disabled]="!_parsedPermissionSettings.isAccessEdit || isDisabled"
  [class.ng-invalid]="validationResult?.isValid === false">
  <div title="{{validationResult?.messages | validationMessageTranslate}}">
    <kendo-label text="{{dataLabel || (translateKeys | translate)}}"
                 [optional]="requiredRule?.isActive"
                 [attr.data-translate] = "translateKeys">
      <kendo-label-messages optional="*">
      </kendo-label-messages>
      <div class="{{ showPasswordButton ? 'cr-password-input-container' : 'cr-password-input-container-full' }}">
        <input
          [placeholder]="showPlaceholder ? '••••••••' : ''"
          [attr.data-element-name]="dataElementName"
          [type]="showPassword ? 'text' : 'password'"
          [autocomplete]="autocomplete"
          [disabled]="!_parsedPermissionSettings.isAccessEdit || isDisabled"
          [(ngModel)]="dataValue"
          (input)="onInput($event)"
          (blur)="onBlur($event)"
          (focus)="onFocus($event)"
        >
          <img *ngIf="showPasswordButton"
               class="eye-icon"
               [class.eye-icon__disabled]="isDisabled"
               [src]="showPassword ?  './assets/images/eye-slash-regular.svg' : './assets/images/eye-regular.svg' "
               (click)="switchInput($event)"
               alt="eye">
      </div>
    </kendo-label>
  </div>
</div>

<div *ngIf="!_parsedPermissionSettings.isAccessRead" class="cr-no-read-access">
  {{'COMMON.GRID.NO_READ_ACCESS' | translate}}
</div>
