<div kendoTooltip
     *ngIf="_parsedPermissionSettings.isAccessRead"
     class="cr-control-date-picker-simple"
     tooltipClass="cr-tooltip"
     [class.cr-no-permission]="!_parsedPermissionSettings.isAccessEdit"
     [class.ng-disabled]="!_parsedPermissionSettings.isAccessEdit || isDisabled"
     [class.ng-invalid]="validationResult?.isValid === false || validationMessage"
>
  <kendo-datepicker
    [attr.data-element-name]="dataElementName"
    title="{{validationResult?.messages | validationMessageTranslate}}{{validationMessage}}"
    #datepicker
    placeholder=""
    [value]="dataValue | stringToDate"
    (valueChange)="onValueChange($event)"
    [readonly]="isReadOnly"
    [format]="currentDateFormatPattern"
    [disabled]="!_parsedPermissionSettings.isAccessEdit || isDisabled"
  >
    <kendo-datepicker-messages
      [today]="'COMMON.CALENDAR.TODAY' | translate"></kendo-datepicker-messages>
  </kendo-datepicker>
  <cr-svg-icon-control
    [width]="'30px'"
    [height]="'30px'"
    [fill]="'#2b2b2b'"
    [iconName]="'icon-calendar'"
  ></cr-svg-icon-control>
</div>

<div *ngIf="!_parsedPermissionSettings.isAccessRead" class="cr-no-read-access">
  {{'COMMON.GRID.NO_READ_ACCESS' | translate}}
</div>
