<ng-container *ngIf="!viewState.isNotFound">
  <cr-title-header
      (buttonClickEvent)="onTitleButtonClick($event)"
      [buttonSettings]="titleHeaderButtonSettings"
      [titleTranslateKey]="'INTERNSHIP.DETAILS.TITLE'"
      [titleValue]="titleValue"
  ></cr-title-header>

  <div class="cr-outer-wrapper cr-alternate-shadow" *ngIf="internship">
    <div class="row cr-bottom-row-border">
      <div class="col-lg-3">
        <cr-dropdown-smart-control
            [(currentItemValue)]="internship.teacher"
            [value]="internship.teacher.id"
            [dataCacheName]="'InternshipDetailsTeacherDropdown'"
            [unselectedItemValue]="{id: null, translateKey: 'COMMON.NOT_SELECTED'}"
            [labelTranslateKey]="'INTERNSHIP.DETAILS.TEACHER'"
            [dataTranslateKeyField]="'translateKey'"
            [valueField]="'id'"
            [textField]="'name'"
            [getListItemsFunction]="getTeacherDropdownList"
            [getOneItemFunction]="getTeacherDropdownItem"
            [validator]="validator"
            [validationField]="'teacher.id'"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-dropdown-smart-control>
      </div>
      <div class="col-lg-3">
        <cr-control-edit
            [(dataValue)]="internship.code"
            [translateKeys]="'INTERNSHIP.DETAILS.CODE'"
            [validator]="validator"
            [validationField]="'code'"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-control-edit>
      </div>
      <div class="col-lg-3">
        <cr-control-edit
            [(dataValue)]="internship.title"
            [translateKeys]="'INTERNSHIP.DETAILS.TITLE_DETAILS'"
            [validator]="validator"
            [validationField]="'title'"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-control-edit>
      </div>
      <div class="col-lg-3">
        <cr-control-edit
            [(dataValue)]="internship.place"
            [translateKeys]="'INTERNSHIP.DETAILS.PLACE'"
            [validator]="validator"
            [validationField]="'place'"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-control-edit>
      </div>
    </div>
    <div class="row cr-bottom-row-border">
      <div class="col-lg-3">
        <cr-control-datepicker
            [(dataValue)]="internship.from"
            [translateKeys]="'INTERNSHIP.DETAILS.FROM'"
            [validator]="validator"
            [validationField]="'from'"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-control-datepicker>
      </div>
      <div class="col-lg-3">
        <cr-control-datepicker
            [(dataValue)]="internship.to"
            [translateKeys]="'INTERNSHIP.DETAILS.TO'"
            [validator]="validator"
            [validationField]="'to'"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-control-datepicker>
      </div>
      <div class="col-lg-3">
        <cr-numeric-control
            [(dataValue)]="internship.hours"
            [translateKeys]="'INTERNSHIP.DETAILS.HOURS'"
            [format]="'#'"
            [validator]="validator"
            [validationField]="'hours'"
            [min]="1"
            [autoCorrectMinMax]="true"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-numeric-control>
      </div>
      <div class="col-lg-3">
        <cr-numeric-control
            [(dataValue)]="internship.credits"
            [translateKeys]="'INTERNSHIP.DETAILS.CREDITS'"
            [format]="'#'"
            [validator]="validator"
            [validationField]="'credits'"
            [min]="0"
            [autoCorrectMinMax]="true"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-numeric-control>
      </div>
    </div>
    <div class="row cr-bottom-row-border">
      <div class="col-lg-12">
        <cr-text-area-control
            [(dataValue)]="internship.description"
            [translateKeys]="'INTERNSHIP.DETAILS.DESCRIPTION'"
            [validator]="validator"
            [validationField]="'description'"
            [isDisabled]="internship.isDeleted && !viewState.restoring"
            [permissionSettings]="{isAccessEdit: editable}"
        ></cr-text-area-control>
      </div>
    </div>
  </div>
</ng-container>

<cr-view-page-not-found *ngIf="viewState.isNotFound"></cr-view-page-not-found>
