<section class="main-login-wrapper">
  <div class="version">
    <span *ngIf="networkStatusService.online">
      {{ 'COMMON.NETWORK.MESSAGE_ONLINE' | translate }},
    </span>
    <span *ngIf="!networkStatusService.online">
      {{ 'COMMON.NETWORK.MESSAGE_OFFLINE' | translate }},
    </span>

    Version {{appVersion}} (tag: {{tagVersion}})
  </div>

  <div class="language-switcher-wrapper">
    <cr-language-switcher
      [languages]="languages"
      [popUpSettings]="{align: 'center'}"
    ></cr-language-switcher>
  </div>

  <div class="wrapper-login">
    <div class="logo">
      <cr-svg-icon-control
        [fill]="'#2b2b2b'"
        [width]="'312px'"
        [height]="'90px'"
        [iconName]="'icon-logo-full'"></cr-svg-icon-control>
      <p [attr.data-translate]="'LOGIN.COMPANY_LOGO'">
        {{'LOGIN.COMPANY_LOGO' | translate}}
      </p>
    </div>
    <div class="vertical-line">
    </div>
    <div class="login-form">
      <div class="login-form-line">
        <h1 [attr.data-translate]="'LOGIN.LOGIN_TITLE'">{{'LOGIN.LOGIN_TITLE' | translate}}</h1>
      </div>
      <div class="login-form-line control">
        <cr-control-edit
          [translateKeys]="'LOGIN.LOGIN'"
          [(dataValue)]="user.login"
          [validator]="loginValidator"
          [validationField]="'login'"
        ></cr-control-edit>
      </div>
      <div class="login-form-line control">
        <cr-edit-password-control
          [translateKeys]="'LOGIN.PASSWORD'"
          [(dataValue)]="user.password"
          [validator]="loginValidator"
          [validationField]="'password'"
        ></cr-edit-password-control>
      </div>


      <div class="login-form-line control">
        <cr-button-control
          #loginButton
          buttonTemplateType="primary-action-button"
          (buttonClickEvent)="login()"
          [textTranslateKey]="'LOGIN.LOGIN_BUTTON'"
        ></cr-button-control>
      </div>
    </div>
  </div>
</section>
