<div class="global-error-wrapper">
  <div class="inner-global-error-wrapper">
    <p [attr.data-translate]="'COMMON.ERROR_PAGE.ERROR_HEADER'">
      {{ 'COMMON.ERROR_PAGE.ERROR_HEADER' | translate }}
    </p>
    <h2 [attr.data-translate]="'COMMON.ERROR_PAGE.NOT_FOUND.TITLE'">
    {{ 'COMMON.ERROR_PAGE.NOT_FOUND.TITLE' | translate }}
    </h2>
    <p [attr.data-translate]="'COMMON.ERROR_PAGE.NOT_FOUND.DESCRIPTION'">
      {{ 'COMMON.ERROR_PAGE.NOT_FOUND.DESCRIPTION' | translate }}
    </p>
  </div>
</div>
