<ng-container *ngIf="!viewState.isNotFound">
  <cr-title-header
      (buttonClickEvent)="onTitleButtonClick($event)"
      [buttonSettings]="titleHeaderButtonSettings"
      [titleTranslateKey]="'DEPARTMENT.DETAILS.TITLE'"
      [titleValue]="titleValue"
  ></cr-title-header>

  <div class="cr-outer-wrapper cr-alternate-shadow" *ngIf="department">
    <div class="row">
      <div class="col-lg-6">
        <cr-control-edit
            [(dataValue)]="department.name"
            (dataValueChange)="changeTitle()"
            [translateKeys]="'DEPARTMENT.DETAILS.NAME'"
            [isDisabled]="department.isDeleted && !viewState.restoring"
            [validator]="validator"
            [validationField]="'name'"
        ></cr-control-edit>
      </div>
    </div>
  </div>

  <div class="cr-outer-wrapper" *ngIf="department && !isNew">
    <div class="cr-panel-header-wrapper">
      <p [attr.data-translate]="'DEPARTMENT.DETAILS.TEACHERS_LIST.TITLE'">
        {{ 'DEPARTMENT.LIST.GRID.TITLE' | translate }}
      </p>
    </div>

    <cr-department-teachers-list [department]="department"></cr-department-teachers-list>
  </div>
</ng-container>

<cr-view-page-not-found *ngIf="viewState.isNotFound"></cr-view-page-not-found>
